div.container {
    position: relative;
    width: 340px;
}

.icon {
    position: absolute;
    width: 35px;
    top: 12px;
    left: 12px;
}

.input-field {
    padding-left: 35px;
    font-size: 18px;
    height: 35px;
    width: 300px;
}
